{% extends "base.html" %}

{% block title %}合同明细单价修改{% endblock %}

{% block main_content %}
    <div class="container-fluid p-0">
        <h4 class="mb-4">合同明细单价修改</h4>

        <!-- 订单表格 -->
        <div class="card">
            <div class="card-body">
                <div class="row g-3 align-items-center">
                    <div class="input-group mb-3" style="width: 500px">
                        <span class="input-group-text" id="filePrefix">文件名</span>
                        <input type="text" class="form-control" placeholder="filePrefix">
                    </div>
                </div>
                <div class="row g-3 align-items-center">
                    <div class="input-group mb-3" style="width: 1200px">
                        <span class="input-group-text" id="onesLink">onesLink</span>
                        <input type="text" class="form-control" placeholder="onesLink">
                    </div>
                </div>
                <div class="row g-3 align-items-center">
                    <div class="input-group mb-3" style="width: 500px">
                        <span class="input-group-text" id="bpoLineId">合同行号</span>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="row g-3 align-items-center">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="newQTY">新数量</span>
                        <input type="number" class="form-control">
                        <div style="width: 15px"></div>
                        <span class="input-group-text" id="newPrice">新单价</span>
                        <input type="number" class="form-control">
                        <div style="width: 15px"></div>
                        <span class="input-group-text" id="newTaxRate">新税率</span>
                        <input type="number" class="form-control">
                    </div>
                </div>
                <div class="row g-3 align-items-center">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="originQty">原数量</span>
                        <input type="number" class="form-control">
                        <div style="width: 15px"></div>
                        <span class="input-group-text" id="originPrice">原单价</span>
                        <input type="number" class="form-control">
                        <div style="width: 15px"></div>
                        <span class="input-group-text" id="originTaxRate">原税率</span>
                        <input type="number" class="form-control">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/axios.min.js"></script>
    <script>

    </script>
{% endblock %}
